$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;
$active: linear-gradient(to right, rgb(168, 76, 255), rgb(255, 102, 229));;
$blk-backg: rgb(19, 18, 18);
 
 @mixin flex($justify, $align, $direction) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
   flex-direction: $direction;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

h1 {
  font-size: $header1;
}
li,
button,
label,
input,
a,
p {
  font-size: $text;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4,
h5 {
  font-size: $header4;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $gray-text;
}
// Fun experiment

html {
  font-family: 'Montserrat', sans-serif;
}
body {
  background: $blk-backg;
  color: white;
}


